
body {
    background-color: #6EE6FF;
}


nav {
    display: flex;
    justify-content: space-between;
    padding: 3%;
   
}
a {
    text-decoration: none;
    font-weight: 700;
}
.welcome h1 {
    font-size: 150%;

}
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.welcome button{
    width: 20%;
    margin: 4% 0;
}

.list-choices li {
    display: flex;
   justify-content: center;
   margin: 2%;
}

.answers {
    list-style: none;
}
.question-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

button {
    background-color: #6FE8DC;
    border-radius: 5px;
    height:40px;
    margin: 2% 0;
    width: 20%;
}
